.footer {
  background-color: $c-secondary;
  color: $c-white;

  ul {
    list-style: none;
    padding-left: 0;
  }

  &-banner {
    padding: 1.25rem 0;
    background-color: $c-primary;
    margin-bottom: 2.5rem;
  }

  &-copyright {
    padding: 1.25rem 0;
    margin-top: 2.5rem;

    p {
      margin-bottom: 0;
    }
  }
}
