.banner {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  max-height: 700px;
  background-image: url("/images/home-mob.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &-text {
    color: $c-white;
    position: relative;

    h1 {
      font-size: 3.75rem;
      span {
        display: block;
        font-size: 4.25rem;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 1rem;

        &:before {
          content: "";
          bottom: 0;
          left: 0;
          height: 4px;
          width: 100%;
          background-color: $c-primary;
          position: absolute;
          border-radius: $border-radius;
        }
      }
    }
  }

  &--menu {
    height: 40vh;
    margin-top: 85px;
  }
}
